*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg{
    background-color: #00F5FF;
}



.colorfirst{
color:#EA047E !important;
}


.bgcolorfirst{
    background-color:#EA047E !important;
    }
    

.colorsecond{
    color:#FF6D28 !important;
}


.bgcolorsecond{
    background-color:#FF6D28 !important;
}