.main{
    background-image: url("https://picsum.photos/id/139/1600/900");
    background-position: top;
    background-size:cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100vh;
}